<p id="notice"><%= notice %></p>

<p>
  <strong>Song name:</strong>
  <%= @classification.song_name %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @classification.artist %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @classification.rating %>
</p>

<p>
  <strong>User:</strong>
  <%= @classification.user %>
</p>

<p>
  <strong>Mood:</strong>
  <%= @classification.mood %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @classification.genre %>
</p>

<%= link_to 'Edit', edit_classification_path(@classification) %> |
<%= link_to 'Back', classifications_path %>
